.search {
    max-width: 600px;
    margin: 2rem auto;
    display: flex;
    background-color: aliceblue;
    border-radius: 50px;
}

.search input {
    font-size: 15px;
    padding: 0.7rem 1.3rem;
    width: 100%;
    border-radius: 50px;
    background-color: unset;
    border: unset;
    font-weight: 600;
    outline: unset;
    transition: all 0.5s;
}

.search input:focus {
    background-color: rgb(196, 203, 209);
}

.search button {
    font-size: 15px;
    border-radius: 50px;
    border: unset;
    background-color: #00796B;
    font-weight: bolder;
    padding: 0.5rem 1rem;
    transition: all 0.5s;
    margin-left: -2rem;
    color: aliceblue;
}

.search button:hover {
    background-color: rgb(51, 138, 59);
}