footer {
    background-color: rgba(0, 0, 0, 0.486);
    bottom: 0;
    padding: 2rem 3rem;
    border-top: 2px solid white;
    width: 100%;
    margin-top: auto;
}

footer main {
    max-width: 1000px;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    line-height: 1.5rem;
    column-gap: 1rem;
}

.about-developer {
    margin-right: auto;
}

.about-breeze {
    width: 50%;
}

.social-links ul {
    display: flex;
    gap: 10px;
    font-size: 20px;
    margin-top: 0.5rem;
}

.social-links ul span {
    opacity: 0.3;
    cursor: not-allowed;
}

.github-icon {
    transition: transform 0.3s;
}

.github-icon:hover {
    transform: scale(1.2);
}

.api {
    color: rgb(166, 195, 222);
    text-decoration: underline;
}

/* Responsive */

@media(max-width: 650px) {


    footer main {
        display: block;
    }

    .about-developer {
        margin-bottom: 2rem;
    }

    .about-breeze {
        width: 100%;
    }
}