.daily-forecast-wrapper {
    margin: 2rem;
    padding: 1rem 0;
}

.daily-forecast-wrapper h3 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: beige;
}

.daily-forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
    border: 1px solid rgb(198, 198, 198);
    border-radius: 15px;
    padding: 1rem 0;
    margin: 2rem auto;

}

.daily-forecast .day-main {
    border-right: 1px solid rgb(198, 198, 198);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.day-main h4 {
    font-size: 18px;
    font-weight: 600;
    color: rgb(120, 204, 207)
}

.day-nutshel {
    border: 1px solid rgb(156, 156, 156);
    text-align: center;
    padding: 1.2rem;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 1.5rem auto;
}

.day-nutshel img {
    width: 80%;
    margin: -0.5rem;
}

.day-temp {
    padding: 1rem;
}

.day-detail {
    padding: 1rem;
    border-left: 1px solid rgb(198, 198, 198);
}

.day-detail-description {
    color: rgb(228, 232, 236);
    font-weight: 500;
}

@media(max-width:800px) {
    .daily-forecast {
        grid-template-columns: auto;
        margin-top: 0.5rem;
    }

    .day-temp {
        padding: 0 1rem;
    }

    .day-detail {
        border: unset;
    }

    .day-detail p {
        padding-left: 1rem;
    }

    .day-main {
        border: unset !important;
    }
}

@media(max-width:350px) {
    .daily-forecast-wrapper {
        margin: 0;
    }

    .daily-forecast-wrapper h3 {
        font-size: 16px;
        margin-top: 2rem;
    }
}