@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Vazirmatn:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arimo", sans-serif;
    background: linear-gradient(to bottom, #315060, #3a6578, #508aa5);
    color: #B0BEC5;
    background-attachment: fixed;
    -webkit-user-select: none;
    user-select: none;
    padding-bottom: 150px;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

dl {
    line-height: 2rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.weather-app {
    margin: 0 5rem 15rem 5rem;
    border-radius: 10px;
    padding: 0 4rem;
    background-color: #2f4c5ba5;
}

.logo {
    width: 90px;
    height: 40px;
    position: absolute;
    left: 0;
}

.search-wrapper {
    margin: 0 auto;
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;

    position: relative;
}

.bold {
    font-size: 20px;
    color: rgb(218, 234, 234);
}

/* /////////////// RESPONSIVE  */
@media (max-width:300px) {
    .container {
        margin-top: 2rem;
    }

    .weather-app {
        margin: 0 0.5rem;
    }
}